{% extends 'layouts/admin-layout.html' %}
{% block title %}Product List | Admin{% endblock %}
{% block content %}
  <div class="row row-search">
    <div class="col-md-12">
      <div class="input-group">
          <span class="input-group-prepend">
            <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
          </span>
          <input class="form-control py-2 border-left-0 border" type="search" placeholder="Search is not yet implemented" id="example-search-input" disabled="true">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border disabled" type="submit">Search</button>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} fade show">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{{ url_for('modify_product') }}?id={{ product.productid }}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('modify_product') }}?id={{ product.productid }}">{{ product.name }}</a>
            </h4>
            <h5><i class="fa fa-inr" aria-hidden="true"></i> {{ product.price }}</h5>
            {% if product.labels is not none %}
              <h3>
              {% set all_labels = product.labels.split(',') %}
              {% for label in all_labels %}
                <span class="badge badge-warning">{{ label }}</span>
              {% endfor %}
              </h3>
            {% endif %}
            <p class="card-text">{{ product.description }}</p>
          </div>
          <div class="card-footer">
            <a href="#" data-href="{{ url_for('delete_product') }}?id={{ product.productid }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-block"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Delete product
          </div>
          <div class="modal-body">
            Are you sure of this action?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger btn-ok">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
