{% extends 'layouts/admin-layout.html' %}
{% block title %}Add Product | Admin{% endblock %}
{% block content %}
  <div class="row h-100 align-items-center">
    <div class="col-sm-12">
      <div class="form-container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">Add New Product</h3>
            <hr class="m-0" />
          </div>
        </div>
        <div class="error-notification">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            	{% for category, message in messages %}
	                <div class="alert alert-{{ category }} fade show">
	                  <a class="close" data-dismiss="alert">&times;</a>
	                  {{ message }}
	                </div>
	            {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <form method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-label-group">
            {{ form.name(class_ = 'form-control', id='name', placeholder = form.name.label.text, required = true) }}
            <label for="name">Name</label>
          </div>
          <div class="form-label-group">
            {{ form.type(class_ = 'form-control', id='type', placeholder = form.type.label.text, required = true) }}
            <label for="type">Type</label>
          </div>
          <div class="form-label-group">
            {{ form.description(class_ = 'form-control', id='description', placeholder = form.description.label.text, required = true) }}
            <label for="description">Description</label>
          </div>
          <div class="form-label-group">
            {{ form.price(class_ = 'form-control', id='price', placeholder = form.price.label.text, required = true) }}
            <label for="price">Price</label>
          </div>
          <div class="form-label-group">
            {{ form.offerid(class_ = 'form-control', id='offerid', placeholder = form.offerid.label.text, required = true) }}
            <label for="offerid">Offer Id</label>
          </div>
          <div class="form-label-group">
            {{ form.file(class_ = 'form-control', id='file', placeholder = form.file.label.text) }}
            <!-- <input type="file" name="file"> -->
          </div>
          <div class="form-label-group text-center">
            <input type="checkbox" name="instock" checked data-toggle="toggle" data-on="In Stock" data-off="Out Of Stock" data-onstyle="success" data-offstyle="danger">
          </div>
          <!-- Material switch -->
          <button class="btn btn-primary btn-block btn-login" type="submit">Add Product</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
