{% extends 'layouts/home.html' %}
{% block content %}
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light error-code">500</h1>
          <h4>Internal Server Error</h4>
          <p class="lead">We are very sorry for this situation.</p>
          <p class="lead">Some suggetions: <a href="{{ url_for('home') }}">Home</a></p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
